
@font-face {
    font-family: myFont;
    src: url(Muthiara\ demo\ version.otf);
}
body {
    margin: 0;
    font-family:'Merriweather', serif;
    color: rgb(74, 73, 73);
    line-height: 1.6;
}

.header {
    background-color: black;
    font-family: 'Cinzel', serif;
    color: white;
    padding: 15px 0;
    text-align: center;
}

.header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav a {
    color: #fff;
    font-family: 'Merriweather', serif;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{
    background-color: whitesmoke;
    color: black;
    margin: 20px;
    border-radius: 5%;
    padding: 10px;
}   

.deskripsi {
    padding: 40px 20px;
    text-align: center;
    background-color: transparent;
}

.deskripsi h2 {
    margin-top: 0;
    color: black;
}

.produk {
    padding: 40px 20px;
    background-color: white;
    text-align: center;
}


.produk h3 {
    margin-bottom: 30px;
    color: rgb(69, 65, 65);
}

.produk-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.produk-item {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    max-width: 250px;
}


.produk-item:hover {
    background-color: whitesmoke;
    box-shadow: 0 2px 6px black;
    margin: 20px;
}

.produk-item img {
    width: 100%;
    border-radius: 5px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 2px;
    margin-top: 40px;
}
